{% extends "tienda/base.html" %}

{% load static %}

{% block content %}

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <div class="intro-text2 center-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Mayoreo</span>
          </h2>
        </div>
      </div>
    </div>
  </section>




    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¿Tienen catálogo de mayoreo?</span>
              </h2>
              <h4>
                <span class="section-heading-rmpv">Joyapan cueta con diferentes ediciones en sus catalogos para una mejor distribucion</span>            
                <span class="section-heading-rmpv">entre sus mayoristas. </span>
                <span class="section-heading-rmpv">Los articulos que se ofrecen a minoristas son los mimsmos que se ofrecen a mayoristas.</span>
                <p></p>
                <p></p>
                <a href="https://www.flipsnack.com/E8655DDD75E/joyapan-cat-logo-1-edici-n.html">Edicion 1</a>
                <p></p>
                <a href="https://www.facebook.com/joyerosdelaltiplano"target="_blank">Joyeros de Apan</a>
              </h4>
          </div>
        </div>
      </div>
    </section>

<div><p></p></div>


    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¿Cómo hago una compra de mayoreo?</span>
              </h2>
              <h4>
                <p></p>
                <span class="section-heading-rmpv">✓ La opción de mayoreo  está disponible a partir de 400 piezas.</span>            
                <p></p>
                <span class="section-heading-rmpv">Los pasos a seguir para comprar en mayoreo son: </span>
                <p></p>
                <span class="section-heading-rmpv">1. Entra al sitio <a href="https://www.flipsnack.com/E8655DDD75E/joyapan-cat-logo-1-edici-n.html",target="_blank">joayapan.com</a></span>
                <p></p>
                <span class="section-heading-rmpv">2. Dirigete al apartado "TIENDA".</span>
                <p></p>
                <span class="section-heading-rmpv">3. Desplazate hasta abajo y seleciona la opcion "MAYOREO"</span>
                <p></p>
                <span class="section-heading-rmpv">4. Ahí encontraras todos los productos disponibles para Mayoristas.</span>


              </h4>
          </div>
      </div>
    </section>

<div><p></p></div>


    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¿Cómo realizo el pago de compra por Mayoreo?</span>
              </h2>
              <h4>
                <p></p>
                <span class="section-heading-rmpv">Para la compra por mayoreo tenemos disponible pago en OXXO, Transferencia bancaria, MercadoPago.  </span>            
              </h4>
          </div>
      </div>
    </section>
<div><p></p></div>


    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¿Cuáles son los descuentos que ofrecen por mayoreo?</span>
              </h2>
              <h4>
                <span class="section-heading-rmpv">5% descuento en compras mayores a 25 pzas.</span>
                <p></p> 
                <span class="section-heading-rmpv">10% descuento en compras mayores a 50 pzas.</span>
                <p></p>                 
                <span class="section-heading-rmpv">15% descuento en compras mayores a 100 pzas.</span>
                <p></p>     
                <span class="section-heading-rmpv">20% descuento en compras mayores a 200 pzas.</span>
                <p></p>     
                <span class="section-heading-rmpv">25% descuento en compras mayores a 300 pzas.</span>
                <p></p>     
                <span class="section-heading-rmpv">30% descuento en compras mayores a 400 pzas.</span>
                <p></p>     
                <span class="section-heading-rmpv">40% descuento en compras mayores a 500 pzas.</span>                
              </h4>
          </div>
      </div>
    </section>
<div><p></p></div>
    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Todos nuestros articulos con stock tienen descuentos</span>
              </h2>
              <h4>
                <p></p>     
                <span class="section-heading-rmpv">Los descuentos aplican en compras mayores a 100 piezas</span>
                <p></p>     
              </h4>
          </div>
      </div>
    </section>
<p></p>
<div><p></p></div>
    <section class="page-section cta">
      <div class="container">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Modelos especiales</span>
              </h2>
              <h4>
                <p></p>     
                <span class="section-heading-rmpv">Para fabricación de modelos especiales el mayoreo aplica a partir de 500 piezas</span>
                <p></p>
                <span class="section-heading-rmpv">El monto a pagar es el total del costo de las piezas más el pago de desarrollo.</span>
                <p></p>
                <a href="https://wa.me/5217752246412/?text=Quiero%20más%20informacion%20acerca%20de%20Modelos%20especiales"target="_blank"class="linksCategorias">¿Dudas? Haz click aqui </a>
                <p></p>                                                                    
              </h4>
          </div>
      </div>
    </section>

{% endblock %}
