{% extends "tienda/base.html" %}


{% load static %}

{% block content %}



   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <a href="{% url 'anillos' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/anillo.jpg' %}"alt="" style="width: 50%;">
        </a>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'anillos' %}"style="color: white">Anillos</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Elegantes y con decoraciones atrevidas, elije el que más vaya con tu estilo.
              </div>            
        </div>
      </div>
    </div>
  </section>  

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a  href="{% url 'aretes' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/arete.jpg' %}"alt="" style="width: 50%;">
      </a>  
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a  href="{% url 'aretes' %}" style="color: white">Aretes</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Encontrarás de todos los estilos, perfectos para cada ocasión.
              </div>            
        </div>
      </div>
    </div>
  </section>

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'chokers' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/choker.jpeg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'chokers' %}"style="color: white">Chokers</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Este accesorio es aún mas justo que una gargantilla, dándole un estilo rockero a tu outfit.
              </div>          
        </div>
      </div>
    </div>
  </section>  
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'collares' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/collar.jpg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'collares' %}"style="color: white">Collares</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Están hechos de cadenas,perlas entre otros materiales, con estilos diferentes para tu personalidad. 
              </div>            
        </div>
      </div>
    </div>
  </section>  

 

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'dijes' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/dije.jpeg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'dijes' %}"style="color: white">Dijes</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Puedes encontrar dijes sencillos, donles, triples y más.
              </div>            
        </div>
      </div>
    </div>
  </section>  


   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'gargantillas' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/gargantilla.jpeg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'gargantillas' %}"style="color: white">
            <h3>Gargantillas</h3>
            </a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Es un tipo de collar corto que rodea al cuello. ¡Pruébalo!, le daras un toque especial a tu outfit.
              </div>            
        </div>
      </div>
    </div>
  </section>  
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <a href="{% url 'juegos' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/juego.jpeg' %}"alt="" style="width: 50%;">
        </a>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'juegos' %}"style="color: white">Juegos</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Encontrarás diferentes coordinados para que no tengas que preocuparte más cómo combinar tus accesorios. 
              </div>            
        </div>
      </div>
    </div>
  </section>  

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a  href="{% url 'mascotas' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/arete.jpg' %}"alt="" style="width: 50%;">
      </a>  
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a  href="{% url 'mascotas' %}" style="color: white">Mascotas</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Podras encontrar todo tipo de accesorios, que demostraran un poquito mas de amor a tus fieles amiguitos.
              </div>            
        </div>
      </div>
    </div>
  </section>


   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'pulseras' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/pulsera.jpeg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'pulseras' %}"style="color: white">Pulseras</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                De todos los estilos, hechas con cadena, perla y diversos materiales que te harán lucir increible.
              </div>            
        </div>
      </div>
    </div>
  </section>  

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'otros' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/otro.jpeg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'otros' %}"style="color: white">Diseños especiales</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Descripcion
              </div>            
        </div>
      </div>
    </div>
  </section>  


   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'cuidado' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/collar.jpg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a href="{% url 'cuidado' %}"style="color: white">Cuidado de la Joyeria</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Descripcion
              </div>            
        </div>
      </div>
    </div>
  </section> 

  </section>  
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <a href="{% url 'vmayoreo' %}">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'aatienda/img/mayoreo.jpeg' %}"alt="" style="width: 50%;">
      </a> 
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <a class="section-heading-lower" href="{% url 'vmayoreo' %}"style="color: white" >Para fabricacion por Mayoreo</a>
          </h2>
              <div style="text-align: center; font-size: 1.0em">
                Puedes elegir entre diferentes accesorios de la tienda únicamente si tu compra es en mayoreo.
                Aplica a partir de 500 piezas.
              </div>            
        </div>
      </div>
    </div>
  </section>

{% endblock  %}