<html>
    <head>
        <h1 >Hola {{nombre}}  :D<h1>
    </head>

    <body>


        <h2 style="color:green">¡Tu pago ha sido aprovado!</h2>


        <h2>Gracias por realizar tu compra con nosotros, 
        en un periodo maximo de 24hrs recibiras el codigo de rastreo de tu pedido.</h3>
        <p><p>

        <h2>Si tienes alguna duda o comentario, no dudes en contactarte con nosotros</h2>
        <p><p>
        <p><p>
        <p><p>
        <p>Joyeros de Apan sociedad SC de Rl de CV.<p>
        <p>Empresa orgullosamente MEXICANA<p>



    <body>



</html>