{% extends "tienda/base.html" %}

{% load static %}
{% block content %}

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <div class="intro-text2 center-0 text-center bg-faded p-5 rounded">
          </h1>
              <p style="color: red; font-size:xx-large;">Tu pago ha sido cancelado!</p>            
          </h1>  
            <div style="text-align: center; font-size: 1.0em">
              Ha ocurrido un error con tu pago, te recomendamos recargar la pagina o contactarte con soporte.
            </div>  
        </div>
      </div>
    </div>
  </section>

{%endblock%}
