{% extends "tienda/base.html" %}

{% load static %}
{% block content %}

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <div class="intro-text2 center-0 text-center bg-faded p-5 rounded">
          </h1>
              <p style="color: green; font-size:xx-large;">Pago exitoso!</p>            
          </h1>  
            <div style="text-align: center; font-size: 1.0em">
              Te enviaremos un correo con la informacion de tu compra!
            </div>  
        </div>
      </div>
    </div>
  </section>
  

{%endblock%}

